/* Main site styling */
body {
    margin: 0px;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
}

/* Navigation bar orientation */
.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 15px;
} 

.right-side {
    display: flex;
}

.nav-bar > .right-side > div {
    margin-right: 20px;
    font-size: 0.9em;
    text-transform: uppercase;
}

/* Navigation bar styling */
.nav-link-wrapper {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.nav-link-wrapper a {
    color: slategray;
    text-decoration: none;
    transition: color 0.5s;

}

.nav-link-wrapper:hover {
    border-bottom: 1px solid black;
}

.nav-link-wrapper a:hover {
    color: black;
}

/* Portfolio items styling */
.portfolio-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.portfolio-item {
    position: relative;
}

.portfolio-image-background {
    height: 350px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.image-text-wrapper {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
}

.logo-wrapper image {
    width: 50%;
    margin-bottom: 20px;
}

.image-text-wrapper:hover .subtitle {
    transition: 1s;
    font-weight: 600;
    color: whitesmoke;
}

.image-text-wrapper:hover .subtitle {
    font-weight: 600;
    color: white;
}

.image-darken {
    transition: 1s;
    filter: brightness(10%);
}